.slider-title {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.slider-title::before,
.slider-title::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #333132;
  margin: 0 10px;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}