<div class="container px-2 py-2">
    <!-- Layout for Medium and Large Screens -->
    <div class="row d-none d-md-flex">
      <!-- First Column -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-12">
            <img src="assets/images/Home-Empleo-Planta.jpg" class="img-fluid" alt="Planta">
          </div>
          <div class="col-12">
            <img src="assets/images/Home-Empleo-Oficinas.jpg" class="img-fluid" alt="Oficinas">
          </div>
        </div>
      </div>
  
      <!-- Second Column -->
      <div class="col-md-4">
        <img src="assets/images/Home-Empleo-CEDI.jpg" class="img-fluid" alt="CEDI">
      </div>
  
      <!-- Third Column -->
      <div class="col-md-4">
        <img src="assets/images/Home-Empleo-Tiendas.jpg" class="img-fluid" alt="Tiendas">
      </div>
    </div>
  
    <!-- Layout for Small Screens -->
    <div class="row d-md-none">
      <div class="col-12">
        <img src="assets/images/Home-Empleo-Planta.jpg" class="img-fluid" alt="Planta">
      </div>
      <div class="col-12">
        <img src="assets/images/Home-Empleo-Oficinas.jpg" class="img-fluid" alt="Oficinas">
      </div>
      <div class="col-6">
        <img src="assets/images/Home-Empleo-CEDI.jpg" class="img-fluid" alt="CEDI">
      </div>
      <div class="col-6">
        <img src="assets/images/Home-Empleo-Tiendas.jpg" class="img-fluid" alt="Tiendas">
      </div>
    </div>
</div>