.bottom-info {
    background-color: #f4f4f4;
}

.icon-img {
    width: 4rem; 
    height: auto;
}

.link-item:hover {
    text-decoration: underline;
    text-decoration-color: var(--danger-color);
}