<div class="container-fluid container-md mt-5">

    <hr class="custom-hr">
    <div class="mx-3">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="h3 mb-4">Escríbenos</h1>
                <form>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre *</label>
                                <input type="text" class="form-control" id="nombre" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo electrónico *</label>
                                <input type="email" class="form-control" id="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="telefono" class="form-label">Número de teléfono</label>
                                <input type="tel" class="form-control" id="telefono">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="mensaje" class="form-label">¿Qué tenés en mente? *</label>
                                <textarea class="form-control" id="mensaje" rows="6" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-4">
                            <button type="submit" class="btn btn-danger">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <h1 class="h3 mb-4">Detalles de contacto</h1>
                <div class="d-flex align-items-center mb-3">
                    <button class="btn btn-danger btn-icon me-3">
                        <i class="fas fa-phone-alt"></i>
                    </button>
                    <span>+506 2208-2800 opción 2</span>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <button class="btn btn-danger btn-icon me-3">
                        <i class="fab fa-whatsapp"></i>
                    </button>
                    <span>+506 7005-7500</span>
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-danger btn-icon me-3">
                        <i class="fas fa-envelope"></i>
                    </button>
                    <span>pequenomundo&#64;pequenomundo.com</span>
                </div>
            </div>
        </div>
    </div>
</div>