<div class="container py-5">
    <h2 class="mb-4">¿Olvidaste tu contraseña?</h2>
    <div class="border-top border-danger border-3"></div>
    
    <div class="row px-5 py-3">
      <div class="col-12">
        <p>Por favor introduzca su dirección de correo electrónico para recibir un enlace de restablecimiento de contraseña.</p>
        
        <!-- <form (ngSubmit)="onSubmit()" [formGroup]="resetForm"> -->
        <form>
          <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico *</label>
            <input type="email" class="form-control" id="email" formControlName="email" required>
          </div>
          <button type="submit" class="btn btn-danger">Restablecer mi contraseña</button>
        </form>
      </div>
    </div>
</div>