<app-user-layout title="¿Olvidaste tu contraseña?">
    <form class="mx-3">
        <div class="row">
            <div class="col-12 col-lg-8 mb-4">
                <p>Por favor introduzca su dirección de correo electrónico para recibir un enlace de restablecimiento de contraseña.</p>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico *</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-danger">Restablecer mi contraseña</button>
                </div>
            </div>
        </div>
    </form>
</app-user-layout>