<div class="container-fluid container-md mt-5">

    <hr class="custom-hr">
    <div class="mx-3">
        <div class="row">
            <div class="col">
                <h1 class="h3 mb-4">Sobre nosotros</h1>
                <p><a routerLink="/" class="text-danger">Pequeño Mundo</a> es una empresa que tiene 30 años de estar al
                    lado
                    de los costarricenses, buscando en el Mundo entero una gran variedad de productos, para ofrecerlos
                    al mejor precio y servicio.</p>
                <p>Contamos actualmente con una amplia cantidad de tiendas a lo largo del país, donde ponemos al alcance
                    de nuestros clientes nuestro amplio surtido y calidad. Y actualmente contamos con extensa variedad
                    de productos disponibles en línea para comprar fácilmente en cualquier momento, desde donde estés y
                    en lo que necesités, ya que podés hacer tus compras del supermercado o comprar artículos para el
                    hogar, ferretería, muebles o ropa para todos. ¡Ahora adquirir tus productos favoritos de Pequeño
                    Mundo y recibirlos en cuestión de días será más fácil que nunca!</p>
                <p>Somos una empresa donde los valores de integridad, excelencia y trabajo en equipo son el estandarte
                    diario de todos los colaboradores que conforman Pequeño Mundo. Vivimos una cultura de trabajo, donde
                    el pilar fundamental es nuestro colaborador, enfocados en garantizarles la mejor experiencia de
                    empleo.</p>
                <div class="mb-4">
                    <img src="assets/images/about-us.png" alt="About Us" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>