<div class="container-fluid container-md mt-5">

    <hr class="custom-hr">
    <div class="mx-3">
        <div class="row">
            <div class="col">
                <h1 class="h3 mb-4">Sobre nosotros</h1>
                <p><a routerLink="/" class="text-danger">Mundo Alegre</a> es una empresa comprometida con ofrecer
                    productos de alta calidad a nuestros clientes. Nos dedicamos a la venta de una amplia variedad de
                    artículos que se adaptan a las necesidades del hogar, la oficina y el día a día. Desde nuestros
                    inicios, nos hemos enfocado en brindar una experiencia de compra sencilla, segura y satisfactoria,
                    buscando siempre superar las expectativas de quienes confían en nosotros.</p>
                <p>Nos distinguimos por nuestro enfoque en la atención al cliente, asegurándonos de que cada interacción
                    sea personalizada y amena. En Mundo Alegre, creemos que una buena relación con nuestros clientes es
                    clave para el éxito, y trabajamos diariamente para mejorar nuestros servicios, desde la facilidad de
                    navegación en nuestra tienda en línea hasta la entrega eficiente de productos en la puerta de tu
                    hogar.</p>
                <p>Además, estamos constantemente actualizando nuestro catálogo para ofrecer productos innovadores y
                    prácticos que se ajusten a las últimas tendencias del mercado. Ya sea que busques artículos para
                    mejorar tu espacio o simplemente quieras darte un gusto, en <a routerLink="/"
                        class="text-danger">Mundo Alegre</a> encontrarás todo lo que
                    necesitas para vivir con más comodidad y estilo.</p>
                <div class="mb-4">
                    <img src="assets/images/about-us.jpg" alt="About Us" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>