<div class="container-fluid container-md">
    <h2 class="mb-4">Mi Cuenta</h2>
    <div class="row">
      <!-- Define the links in a template -->
      <ng-template #menuLinks>
        <div class="list-group">
          <a routerLink="./my-account" class="list-group-item list-group-item-action">Mi Cuenta</a>
          <a routerLink="./my-orders" class="list-group-item list-group-item-action">Mis pedidos</a>
          <a routerLink="./my-downloadable-products" class="list-group-item list-group-item-action">Mis productos descargables</a>
          <a href="#" class="list-group-item list-group-item-action">Mi lista de deseos</a>
          <a routerLink="./address-book" class="list-group-item list-group-item-action">Libreta de direcciones</a>
          <a routerLink="./edit" class="list-group-item list-group-item-action">Información de la cuenta</a>
          <a routerLink="./stored-payment-methods" class="list-group-item list-group-item-action">Métodos de pago almacenados</a>
          <a routerLink="./gdpr" class="list-group-item list-group-item-action">GDPR</a>
          <a routerLink="./reviews" class="list-group-item list-group-item-action">Reseñas de mi artículo</a>
          <a routerLink="./newsletter" class="list-group-item list-group-item-action">Suscripciones al boletín informativo</a>
        </div>
      </ng-template>
  
      <!-- Accordion for small screens -->
      <div class="col-12 d-md-none">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Menú
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ng-container *ngTemplateOutlet="menuLinks"></ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Regular menu for medium and larger screens -->
      <div class="col-12 d-none d-md-block col-md-3">
        <ng-container *ngTemplateOutlet="menuLinks"></ng-container>
      </div>
  
      <!-- Content area -->
      <div class="col-12 col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  