<div class="container-md">
  <div class="category-title">
    <h2 class="text-center">Categorías</h2>
  </div>

  <div class="category-carousel text-center mx-auto">
    <div class="row">
      <div class="col-2 d-flex align-items-center justify-content-center">
        <i class="fas fa-chevron-left cursor-pointer" (click)="previousSlide()"></i>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="d-flex justify-content-center">
            <div class="d-inline-flex">
              <div class="category-item mx-2" *ngFor="let category of visibleCategories">
                <img [src]="category.image" [alt]="category.name" class="img-fluid mb-2">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 d-flex align-items-center justify-content-center">
        <i class="fas fa-chevron-right cursor-pointer" (click)="nextSlide()"></i>
      </div>
    </div>
  </div>
</div>
