<div class="container-md">
  <div class="category-title">
    <h2 class="text-center">Categorías</h2>
  </div>

  <div class="category-carousel text-center mx-auto px-2">
    <div class="row align-items-center">
      <div class="col-1 d-flex align-items-center justify-content-center">
        <i class="fas fa-chevron-left cursor-pointer" (click)="previousSlide()"></i>
      </div>
      <div class="col-10">
        <div class="carousel-container">
          <div class="carousel-content">
            <ng-container *ngFor="let category of visibleCategories; let i = index">
              <div class="category-item">
                <ng-container *ngIf="category.image">
                  <img [src]="category.image" [alt]="category.name" class="img-fluid mb-2">
                </ng-container>
                <ng-container *ngIf="!category.image">
                  <p>{{ category.name }}</p>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-1 d-flex align-items-center justify-content-center">
        <i class="fas fa-chevron-right cursor-pointer" (click)="nextSlide()"></i>
      </div>
    </div>
  </div>
</div>