<header class="navbar navbar-expand-md navbar-light bg-light border-top border-danger border-5 fixed-top">
  <div class="container-md">
    <div class="d-flex flex-grow-1 align-items-center">

      <!-- Offcanvas Trigger Button - - visible on medium and small screens -->
      <button class="navbar-toggler custom-toggler d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Logo - always visible -->
      <a class="navbar-brand flex-grow-1 text-center-sm" routerLink="/">
        <img src="assets/images/logo.png" alt="Mundo Alegre Logo" class="img-fluid">
      </a>

      <!-- Shopping Cart Icon - visible on medium and small screens -->
      <div class="d-md-none">
        <ng-container *ngTemplateOutlet="cartIcon"></ng-container>
      </div>
    </div>

    <!-- Search Bar - always visible -->
    <form class="d-flex flex-grow-1 mx-3 position-relative search-form" role="search">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-danger" type="button" (click)="toggleSearchResults($event)">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <app-autocomplete-search *ngIf="isSearchResultsVisible" class="position-absolute top-100 start-0 mt-2" (close)="closeSearchResults()"></app-autocomplete-search>
    </form>

    <!-- Navbar Items - visible on medium and large screens -->
    <nav class="d-none d-md-flex align-items-center">
      <ng-container *ngTemplateOutlet="navItems"></ng-container>
    </nav>
  </div>
</header>

<app-offcanvas-menu></app-offcanvas-menu>

<ng-template #cartIcon>
  <div class="position-relative">
    <a class="nav-link d-flex align-items-center mx-2" (click)="toggleShoppingCart($event)" aria-label="Cart">
      <i class="fa fa-shopping-cart me-2"></i>
      <div class="d-inline d-lg-none">
        <span class="position-absolute top-0 start-80 translate-middle badge rounded-pill bg-danger">
          {{cartItemCount}}
        </span>
      </div>

      <div class="d-none d-lg-flex flex-column">
        <div class="d-flex align-items-center">
          <span class="badge bg-danger me-2">{{cartItemCount}}</span>
          <i class="fa-solid fa-angle-down"></i>
        </div>
        <span class="small">Carrito</span>
      </div>
    </a>
    <app-shopping-cart-summary *ngIf="isShoppingCartVisible" class="position-absolute top-100 end-0 mt-2" (close)="closeShoppingCart()"></app-shopping-cart-summary>
  </div>
</ng-template>

<ng-template #navItems>
  <ng-container *ngTemplateOutlet="cartIcon"></ng-container>
  <a class="nav-link d-flex align-items-center mx-2 nowrap" routerLink="/account/wishlist" aria-label="Wishlist">
    <i class="fa fa-heart me-2"></i>
    <span class="d-none d-lg-inline">
      <span class="small d-block">Lista de</span>
      <span class="small d-block">Deseos</span>
    </span>
  </a>
  <a class="nav-link d-flex align-items-center mx-2 nowrap" routerLink="user/login" aria-label="User Account">
    <i class="fa fa-user me-2"></i>
    <span class="d-none d-lg-inline">
      <span class="small d-block">Mi Mundo</span>
      <span class="small d-block">Alegre</span>
    </span>
  </a>
  <a class="nav-link mx-2" routerLink="user/register" aria-label="Register">
    <span class="me-2">|</span>
    <span class="small">Regístrate</span>
  </a>
</ng-template>