.navbar .nav-link .small {
    line-height: 1.2;
}

/* Custom navbar-toggler on small screen  */
.custom-toggler {
    border: none;
}

.custom-toggler:focus {
    box-shadow: none;
}

.position-relative {
    position: relative;
}
  
.position-absolute {
    position: absolute;
    z-index: 1000;
}

@media (max-width: 767px) {
    .search-form {
      width: 100%;
    }
    .text-center-sm {
        text-align: center;
    }
}