<header class="navbar navbar-expand-md navbar-light bg-light border-top border-danger border-5 ">
  <div class="container-md">
    <div class="d-flex align-items-center flex-grow-1">
      <!-- Offcanvas Trigger Button - visible only on smaller screens -->
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Logo - centered with flex -->
      <div class="flex-grow-1 d-flex justify-content-center">
        <a class="navbar-brand" routerLink="/">
          <img src="assets/logo.png" alt="Pequeño Mundo Logo" class="img-fluid mb-2">
        </a>
      </div>
    </div>

    <!-- Search Bar -->
    <form class="d-flex flex-grow-1 mx-3" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-danger" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <!-- Navbar Items - visible only on larger screens -->
    <div class="d-none d-lg-flex align-items-center">
      <div class="position-relative">
        <a class="nav-link d-flex align-items-center mx-2" (click)="toggleShoppingCart($event)" aria-label="Cart">
          <i class="fa fa-shopping-cart me-2"></i>
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center">
              <span class="badge bg-danger me-2">3</span>
              <i class="fa-solid fa-angle-down"></i>
            </div>
            <span class="small">Carrito</span>
          </div>
        </a>
        <app-shopping-cart-summary *ngIf="isShoppingCartVisible" class="position-absolute top-100 start-0 mt-2" (close)="closeShoppingCart()"></app-shopping-cart-summary>
      </div>
      <a class="nav-link d-flex align-items-center mx-2" routerLink="#" aria-label="Wishlist">
        <i class="fa fa-heart me-2"></i>
        <div class="d-flex flex-column">
          <span class="small text-nowrap">Lista de</span>
          <span class="small text-nowrap">Deseos</span>
        </div>
      </a>
      <a class="nav-link d-flex align-items-center mx-2" routerLink="user/login" aria-label="User Account">
        <i class="fa fa-user me-2"></i>
        <div class="d-flex flex-column">
          <span class="small text-nowrap">Mi Pequeño</span>
          <span class="small text-nowrap">Mundo</span>
        </div>
      </a>
      <a class="nav-link mx-2" routerLink="user/register" aria-label="Register">
        <span class="me-2">|</span>
        <span class="small">Regístrate</span>
      </a>
    </div>

    <!-- Navbar Items - visible only on medium screens -->
    <div class="d-none d-md-flex d-lg-none align-items-center">
      <a class="nav-link d-flex align-items-center mx-2" routerLink="#" aria-label="Cart">
        <i class="fa fa-shopping-cart me-2"></i>
      </a>
      <a class="nav-link d-flex align-items-center mx-2" routerLink="#" aria-label="Wishlist">
        <i class="fa fa-heart me-2"></i>
      </a>
      <a class="nav-link d-flex align-items-center mx-2" routerLink="#" aria-label="User Account">
        <i class="fa fa-user me-2"></i>
      </a>
      <a class="nav-link mx-2" routerLink="#" aria-label="Register">
        <span class="me-2">|</span>
        <span class="small">Regístrate</span>
      </a>
    </div>
  </div>
</header>

<app-offcanvas-menu></app-offcanvas-menu>