<div class="custom-border p-3">
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Creado</th>
                        <th>Nombre de Producto</th>
                        <th>Valoración</th>
                        <th>Calificación</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{ product.createdDate }}</td>
                        <td>
                            <div class="text-truncate">
                                <span class="text-danger">{{ product.name }}</span>
                            </div>
                        </td>
                        <td>
                            <ng-container *ngFor="let star of [1,2,3,4,5]">
                                <i class="fas"
                                    [ngClass]="{'fa-star': star <= product.rating, 'fa-star-o': star > product.rating}"
                                    style="color: gold;"></i>
                            </ng-container>
                        </td>
                        <td>
                            <div class="text-truncate"> {{ product.review }} </div>
                        </td>
                        <td>
                            <a href="#" class="text-danger">Ver información</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Items per page -->
        <div class="d-flex justify-content-end align-items-center mt-5">
            <span class="me-2">Mostrar</span>
            <div class="dropdown d-inline-block">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    10
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">10</a></li>
                    <li><a class="dropdown-item" href="#">20</a></li>
                    <li><a class="dropdown-item" href="#">50</a></li>
                </ul>
            </div>
            <span class="ms-2">por página</span>
        </div>
    </div>
</div>