<div class="container-fluid container-md mt-5">
    <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
  
    <div class="row">
      <!-- Left column - Price filter -->
      <div class="col-lg-3 mb-4">
        <app-price-filter 
          [priceRanges]="priceRanges" 
          (filterChange)="onPriceFilterChange($event)">
        </app-price-filter>
      </div>
  
      <!-- Right column - Product list -->
      <div class="col-lg-9">
        <!-- Sort and Show options -->
        <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
          <app-sort-options 
            [sortOptions]="sortOptions"
            [defaultSort]="defaultSort"
            (sortChange)="onSortChange($event)">
          </app-sort-options>
          <app-items-per-page
            [itemsPerPageOptions]="itemsPerPageOptions"
            [defaultItemsPerPage]="itemsPerPage"
            (itemsPerPageChange)="onItemsPerPageChange($event)" 
            class="d-none d-md-block">
          </app-items-per-page>
        </div>
  
        <!-- Product grid -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
          <div class="col" *ngFor="let product of products">
            <app-product-card 
              [product]="product"
              (addToCart)="onAddToCart($event)">
            </app-product-card>
          </div>
        </div>
  
        <!-- Pagination -->
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-4">
            <app-sort-options 
                [sortOptions]="sortOptions"
                [defaultSort]="defaultSort"
                (sortChange)="onSortChange($event)"
                class="mb-2 mt-md-0">
            </app-sort-options>
            <app-items-per-page
                [itemsPerPageOptions]="itemsPerPageOptions"
                [defaultItemsPerPage]="itemsPerPage"
                (itemsPerPageChange)="onItemsPerPageChange($event)">
            </app-items-per-page>
            <app-pagination 
                [currentPage]="currentPage"
                [totalPages]="totalPages"
                (pageChange)="onPageChange($event)">
            </app-pagination>
        </div>
      </div>
    </div>
  </div>