.navbar {
  padding: 0;
}

.navbar-nav {
  flex-wrap: wrap; /* Allows items to wrap to a new row */
}

.nav-item-wrapper {
  flex: 1 1 auto; /* Allows items to grow and shrink as needed */
}

.navbar-nav .nav-link {
  transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  background-color: var(--bs-danger);
  color: white;
}

.subcategories-wrapper {
  left: 0;
  right: 0;
  z-index: 1000;
}

.subcategories-wrapper a:hover {
  text-decoration: underline !important;
}
