<app-user-layout title="Búsqueda avanzada">
    <form class="mx-3">
        <div class="row">
            <div class="col-12 mb-4">
                <h5 class="text-danger pb-3">Ajustes de búsqueda</h5>
                <div class="mb-3">
                    <label for="productName" class="form-label">Nombre de Producto</label>
                    <input type="text" class="form-control" id="productName" required>
                </div>
                <div class="mb-3">
                    <label for="sku" class="form-label">SKU</label>
                    <input type="text" class="form-control" id="sku" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio (CRC)</label>
                    <input type="text" class="form-control" id="price" required>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-danger">Buscar</button>
                </div>
            </div>
        </div>
    </form>
</app-user-layout>