<div class="container-fluid container-md mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="h5 mb-0"><a href="#" class="text-danger">Ver PDF</a></h1>
        <small class="text-muted">Versión 11 de marzo del 2024.</small>
    </div>

    <p class="mb-4">Este acuerdo de políticas para la realización de compras por Internet tiene como finalidad exponer
        los términos, condiciones y regulaciones que rigen el uso de la página web <a
            href="https://tienda.pequenomundo.com" target="_blank" class="text-danger">tienda.pequenomundo.com</a></p>

    <p class="mb-4">Al utilizar el Sitio Web <a href="https://tienda.pequenomundo.com" target="_blank"
            class="text-danger">tienda.pequenomundo.com</a>, usted (en
        adelante "El Cliente") está aceptando la totalidad de estándares de uso aquí establecidos incluyendo aquellas
        que limitan la responsabilidad del
        comerciante. En caso de que no esté de acuerdo con los términos y condiciones de este acuerdo, por favor cese de
        forma inmediata con el uso de este Sitio Web.</p>

    <hr class="custom-hr">

    <div class="mx-3">
        <h2 class="h3 mb-4">Términos y condiciones del sitio web</h2>

        <div id="politicas-generales" class="mb-5">
            <h3 class="h4 mb-3">I. Políticas generales</h3>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">El servicio de compra en línea ofrecido a través del sitio web
                    <a href="https://tienda.pequenomundo.com" target="_blank"
                        class="text-danger">tienda.pequenomundo.com</a> es ofrecido por parte de la empresa
                    Alpemusa S.A cédula jurídica número
                    3101289929, en adelante "Pequeño Mundo" domicilio Guachipelín de Escazú.
                </li>
                <li class="list-group-item">Este servicio está diseñado para uso exclusivo de personas mayores de
                    dieciocho (18) años. Si usted es menor de dieciocho (18) años, debe utilizar este sitio únicamente
                    bajo la supervisión de un adulto (padre o madre de familia o encargado) y no podrá completar ninguna
                    transacción. Si usted es un padre de familia o un encargado legal, deberá controlar y supervisar el
                    uso de este sitio por parte de las personas que tenga bajo su cuidado. Usted acepta la
                    responsabilidad por el uso que ellos le den a este sitio web. Actualmente se mantiene un inventario
                    satisfactorio de los productos. Sin embargo, es importante destacar que, dada la naturaleza del
                    negocio, la existencia y rotación de los productos es continua, por lo que pueden variar de un
                    momento a otro. En este sentido, no se garantiza que entre un acceso y otro al sitio web, se
                    mantengan los mismos productos disponibles.</li>
                <li class="list-group-item">En caso de que la información que aparece en la página web
                    <a href="https://tienda.pequenomundo.com" target="_blank"
                        class="text-danger">tienda.pequenomundo.com</a> contenga errores tipográficos,
                    inexactitudes, omisiones o información
                    desactualizada respecto a las descripciones, precios y disponibilidad de los productos;
                    <a href="https://tienda.pequenomundo.com" target="_blank"
                        class="text-danger">tienda.pequenomundo.com</a> se reserva el derecho de corregir y
                    actualizar, en cualquier momento y sin
                    previo aviso, dichos errores, inexactitudes u omisiones.
                </li>
                <li class="list-group-item">Productos con descuentos aplican únicamente en compras en línea. Puede que
                    estos productos contengan una vida útil reducida.</li>
            </ol>

            <p class="mt-4">Asimismo, podrá:</p>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Cambiar los bienes publicitados u ofrecidos para la venta a través de este
                    sitio, sus precios y especificaciones, en cualquier momento, sin necesidad de realizar ninguna
                    notificación y sin generar responsabilidad alguna para Pequeño Mundo.</li>
                <li class="list-group-item">Limitar las cantidades vendidas y/o disponibles para la venta.</li>
                <li class="list-group-item">Cancelar, terminar o no procesar pedidos (incluidos aquellos que ya hayan
                    sido recibidos) cuando el precio u otro material de información en este Sitio Web sea inexacto. En
                    caso de que esto suceda, se le notificará a El Cliente que su pedido ha sido cancelado y no se le
                    aplicará el cobro o se le aplicará un crédito únicamente al mismo método de pago que utilizó para
                    pagar.</li>
            </ol>

            <ul class="list-unstyled mt-4">
                <li class="mb-2">- Pequeño Mundo no garantiza que los bienes publicitados u ofrecidos para la venta en
                    esta página web estarán disponibles cuando El Cliente los ordene.</li>
                <li class="mb-2">- Los materiales del Sitio Web, incluyendo pero sin limitarse a marcas registradas,
                    diseño, descripciones de producto, texto HTML, gráficas, fotografías, códigos, diseño de software y
                    las selecciones y configuraciones de los productos, podrían no estar exactas, completas,
                    actualizadas ni libres de errores.</li>
                <li>- Pequeño Mundo se reserva el derecho de cambiar las presentes políticas en cualquier momento y sin
                    previo aviso. Las mismas serán aplicables a todos los visitantes de nuestro sitio en internet y a
                    todas las transacciones realizadas en él. Los cambios aplicarán a las transacciones realizadas
                    después de ser publicados en nuestro sitio Web y se reconocerán las condiciones anteriores a las
                    transacciones previas a los cambios efectuados. Será responsabilidad de El Cliente consultar
                    regularmente el presente acuerdo y estar al tanto de su contenido.</li>
            </ul>
        </div>

        <div id="politicas-de-seguridad" class="mb-5">
            <h3 class="h4 mb-3">II. Políticas de seguridad</h3>
            <ul class="list-unstyled">
                <li class="mb-2">- Pequeño Mundo cuenta con Certificado de Dominio Propio, el cual muestra la identidad
                    responsable del sitio.</li>
                <li class="mb-2">- Pequeño Mundo respeta la confidencialidad de todos los datos relativos a El Cliente.
                </li>
                <li class="mb-2">- Los datos entregados por El Cliente o recolectados en nuestra página web, se usarán
                    sólo con fines de registro, trámite de ventas y, en el caso de aceptación del cliente, para enviarle
                    información promocional sobre los productos que comercializa nuestra empresa.</li>
                <li class="mb-2">- Pequeño Mundo no intercambia datos de clientes o visitantes con otras compañías a
                    menos que esto se realice con algún proveedor que requiera dicha información para brindarle un
                    servicio a Pequeño Mundo.</li>
                <li class="mb-2">- Los datos y/o información referente a tarjetas de crédito serán manejados solamente
                    por el procesador de estos pagos, por lo que nuestro servidor no capturará dichos datos, y sólo
                    registrará los datos del cliente y de la operación de venta realizada.</li>
                <li class="mb-2">- Pequeño Mundo garantiza a los clientes que la información trasegada se mantiene
                    privada y que cuando ingrese a <a href="https://tienda.pequenomundo.com" target="_blank"
                        class="text-danger">tienda.pequenomundo.com</a> estará en
                    un Sitio Web seguro.</li>
            </ul>
        </div>

        <div id="politicas-de-pago" class="mb-5">
            <h3 class="h4 mb-3">III. Políticas de pago</h3>
            <ul class="list-unstyled">
                <li class="mb-2">- El Cliente podrá pagar con las tarjetas de crédito o débito, nacionales o
                    internacionales únicamente utilizando MasterCard, VISA o American Express, no se aceptan pagos en
                    efectivo.</li>
                <li class="mb-2">- Una vez que El Cliente haya presionado el botón "Formalizar Compra", obtendremos una
                    autorización de la compañía comercializadora de su tarjeta de crédito o débito. En este momento del
                    proceso no se extraen fondos de su cuenta bancaria, aunque el saldo disponible en ésta quedará
                    reducido con la autorización. Si su tarjeta de crédito no es autorizada, el pedido no será
                    tramitado.</li>
                <li class="mb-2">- El pago mediante tarjeta de crédito, débito es totalmente seguro. La totalidad de la
                    transacción se realiza de forma cifrada a través de un servidor de validación bancaria, utilizándose
                    el protocolo de encriptación SSL (Secure Socket Layer). De esta manera, el número de su tarjeta de
                    crédito, tarjeta de débito y la fecha de caducidad quedan instantáneamente encriptados en su
                    ordenador antes de ser enviados al protocolo SSL. Nadie podrá hacer uso de sus datos sin su
                    autorización, puesto que la información es ilegible. Para una mayor seguridad, estos datos no quedan
                    almacenados en nuestro servidor, por lo cual, El Cliente deberá digitar toda la información cada vez
                    que se realice un pedido.</li>
                <li class="mb-2">- Pequeño Mundo podrá rechazar, a su completa discreción, la tramitación del pedido en
                    los siguientes casos, sin limitarse a ellos:</li>
            </ul>
            <ol class="list-group list-group-lettered ms-4">
                <li class="list-group-item">Cuando el producto solicitado no esté disponible.</li>
                <li class="list-group-item">Cuando la entidad comercializadora de su tarjeta de crédito, tarjeta de
                    débito no autorice el pago del precio de compra.</li>
                <li class="list-group-item">Cuando no cumpla los criterios para la realización de pedidos.</li>
                <li class="list-group-item">El cliente es responsable y admite cancelar todas las transacciones
                    generadas por las personas que utilicen su cuenta en el sitio web <a
                        href="https://tienda.pequenomundo.com" target="_blank"
                        class="text-danger">tienda.pequenomundo.com</a>.
                </li>
                <li class="list-group-item">El cliente acepta que:</li>
            </ol>
            <p class="ms-4 mt-2">"En caso de recibir paquetes o correos que no sean de su propiedad acepta y se
                compromete a informarlo y devolverlo(s) de inmediato en las mismas condiciones en que lo recibió. Ante
                la eventualidad de abrirlo, utilizarlo o dañarlo se compromete a cancelar su valor, impuestos y
                transporte".</p>
        </div>

        <div id="politicas-de-entrega" class="mb-5">
            <h3 class="h4 mb-3">IV. Políticas de entrega</h3>
            <ul class="list-unstyled">
                <li class="mb-2">- Una vez despachado el pedido el tiempo máximo de entrega será de 5 días hábiles en
                    horario laboral de 8:00 a.m. a 5:00 p.m. en la Gran Área Metropolitana (GAM) y 7 días hábiles en
                    horario laboral de 8:00 a.m. a 5:00 p.m. fuera de la Gran Área Metropolitana (GAM).</li>
                <li class="mb-2">- Despachos se realizan de lunes a viernes, feriados no. Entregas se realizan de lunes
                    a sábados.</li>
                <li class="mb-2">- El servicio de entrega se prestará únicamente en la República de Costa Rica, mediante
                    el servicio de paquetería disponible en la página.</li>
                <li class="mb-2">- Las compras realizadas por medio de la página web <a
                        href="https://tienda.pequenomundo.com" target="_blank"
                        class="text-danger">tienda.pequenomundo.com</a>,
                    serán entregadas a El Cliente en el lugar de destino que solicite (detallando provincia, cantón,
                    distrito, pin drop de la ubicación y dirección exacta), siempre y cuando esté dentro del área de
                    cobertura de las empresas Moovin y Yo Voy.</li>
                <li class="mb-2">- Las políticas de entrega van establecidas de acuerdo con la empresa de transporte
                    disponible.</li>
                <li class="mb-2">- En caso de que no se entregue el paquete al cliente y supere los días establecidos
                    por la empresa de transporte disponible, Pequeño Mundo realizará una devolución del dinero siempre y
                    cuando sea entregado el paquete a Pequeño Mundo.</li>
                <li class="mb-2">- El Cliente deberá cancelar el costo del envío en el momento de la compra. El costo
                    del envío variará dependiendo del peso, el volumen del producto y el destino solicitado.</li>
                <li class="mb-2">- En caso de no poder realizar la entrega por ausencia del destinatario, la empresa de
                    courier intentará contactar por teléfono con el destinatario. Tras dos intentos fallidos, el cliente
                    deberá contactarse con el centro de contacto (pequenomundo&#64;pequenomundo.com) de Pequeño Mundo,
                    para
                    coordinar una segunda entrega y los costos asociados.</li>
                <li class="mb-2">- Pequeño Mundo se reserva la entrega de paquetes, cuando las condiciones climáticas o
                    de infraestructura vial no permita el libre tránsito de las unidades transportadoras. Ante esta
                    situación el Centro de Contacto llamará a cada uno de los clientes para coordinar la entrega o bien
                    realizar los reintegros de dinero correspondientes.</li>
                <li class="mb-2">- Pequeño Mundo NO REALIZARÁ entregas a domicilio de paquetes cuyo peso sea mayor a 60
                    kilogramos.</li>
                <li class="mb-2">- Si su paquete o producto comprado supera los 60 kilogramos, nuestro personal
                    coordinará con la empresa de transporte para verificar si es viable la entrega del paquete, en caso
                    de que no sea viable Pequeño Mundo contactará al cliente.</li>
                <li class="mb-2">- Si la persona quien realizó el pedido no se va a encontrar en el domicilio que fijó
                    para su debida entrega, deberá notificar con el nombre y número de cédula de quién va recibir el
                    pedido al centro de contacto de Pequeño Mundo (pequenomundo&#64;pequenomundo.com) lo más pronto
                    posible.</li>
                <li class="mb-2">- Las empresas que realizan las entregas de paquetes tienen el derecho de no entregar
                    el paquete si quien realizó el pedido no se encuentra en la dirección de entrega y no notificó quién
                    estará recibiéndolo.</li>
                <li class="mb-2">- Las entregas se realizan en un horario de 8:00 a.m. a 5:00 p.m. de lunes a sábado.
                </li>
                <li class="mb-2">- Los pagos realizados por los servicios de envío no están sujetos a devolución.</li>
                <li class="mb-2">- Al recibir su paquete, le solicitamos que realice una revisión cuidadosa para
                    asegurarse de que todos los productos hayan llegado en condiciones óptimas antes de que el
                    transportista se retire de la ubicación. En caso de que identifique algún producto dañado, le
                    pedimos amablemente que rechace la entrega y se comunique de inmediato con nuestro departamento de
                    atención al cliente a través del correo electrónico <a href="mailto:pequenomundo@pequenomundo.com"
                        class="text-danger">pequenomundo&#64;pequenomundo.com</a> o mediante WhatsApp al
                    7005-7500.
                </li>
            </ul>
            <p>Por favor, tenga en cuenta que al aceptar el paquete, se considerará que los productos se encuentran en
                buen estado, y no se podrán realizar reclamaciones posteriores.</p>
        </div>

        <div id="politicas-de-garantia" class="mb-5">
            <h3 class="h4 mb-3">V. Políticas de garantía</h3>
            <ul class="list-unstyled">
                <li class="mb-2">- El periodo de garantía será de cuarenta y cinco (45) días naturales, iniciando a
                    partir de la fecha de entrega del producto a excepción de otros productos que tienen una garantía
                    mayor de cuarenta y cinco (45) días naturales y así lo indique la página web. La garantía es
                    únicamente por desperfectos de fábrica.</li>
                <li class="mb-2">- La garantía de los productos adquiridos mediante el Sitio Web <a
                        href="https://tienda.pequenomundo.com" target="_blank"
                        class="text-danger">tienda.pequenomundo.com</a>
                    tiene una cobertura limitada que se cubre única y exclusivamente daños y desperfectos de fábrica de
                    los productos adquiridos, es decir, no cubre los daños sufridos por el producto por cualquier uso
                    inapropiado del mismo y/o alguna acción que se aparte de lo indicado en el presente documento y/o la
                    información específica de cada producto o bien, el uso que un consumidor promedio le daría al mismo.
                    La forma para ejercerla es mediante la presentación del producto y copia de la factura electrónica,
                    en cualquiera de las tiendas de Pequeño Mundo.</li>
            </ul>
        </div>

        <div id="politicas-de-devolucion" class="mb-5">
            <h3 class="h4 mb-3">VI. Políticas de devolución, retracto y/o reintegro de dinero</h3>
            <p>Pequeño Mundo sólo aceptará devoluciones de acuerdo con la siguiente política:</p>
            <ol>
                <li class="mb-2">Debe de presentar el tiquete de caja o factura electrónica desde un dispositivo móvil
                    en cualquier tienda de Pequeño Mundo.</li>
            </ol>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Tienda</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>San Pedro Montes de Oca</td>
                        <td>Del Restaurante Río 100 metros al este</td>
                        <td>2208-2801</td>
                    </tr>
                    <tr>
                        <td>Escazú</td>
                        <td>Del cruce a San Rafael de Escazú 50 metros oeste</td>
                        <td>2208-2802</td>
                    </tr>
                    <tr>
                        <td>Curridabat</td>
                        <td>600 metros al este del San José Indoor Club</td>
                        <td>2208-2804</td>
                    </tr>
                    <tr>
                        <td>Guachipelín Escazú</td>
                        <td>Autopista Próspero Fernández. Del Centro comercial Multiplaza, 500 metros oeste</td>
                        <td>2208-2805</td>
                    </tr>
                    <tr>
                        <td>Y Griega, Desamparados</td>
                        <td>700 metros al sur de la rotonda de la “Y”</td>
                        <td>2208-2806</td>
                    </tr>
                    <tr>
                        <td>Alajuela</td>
                        <td>Del cementerio central 400 metros oeste</td>
                        <td>2208-2807</td>
                    </tr>
                    <tr>
                        <td>Moravia</td>
                        <td>De la parroquia 300 metros oeste</td>
                        <td>2208-2808</td>
                    </tr>
                    <tr>
                        <td>Cartago</td>
                        <td>Costado sur de Bomba Delta. La Lima</td>
                        <td>2208-2809</td>
                    </tr>
                    <tr>
                        <td>Heredia</td>
                        <td>1Km al Sur del Mall Paseo de las Flores. San Francisco</td>
                        <td>2208-2810</td>
                    </tr>
                    <tr>
                        <td>Guápiles</td>
                        <td>Ruta 32. Costado Norte de los Tribunales de Justicia</td>
                        <td>2208-2811</td>
                    </tr>
                    <tr>
                        <td>Puntarenas</td>
                        <td>Del Roble de Puntarenas 500 este de la gasolinera sobre la Costanera</td>
                        <td>2208-2812</td>
                    </tr>
                    <tr>
                        <td>San Joaquín de Flores, Heredia</td>
                        <td>De la Clínica Jorge Volio, 600mts al este</td>
                        <td>2208-2814</td>
                    </tr>
                    <tr>
                        <td>Liberia, Guanacaste</td>
                        <td>Del Hotel El Boyero 100mts Este y 300mts Sur, Barrio Condega</td>
                        <td>2208-2815</td>
                    </tr>
                    <tr>
                        <td>San Diego de La Unión, Cartago</td>
                        <td>Costado oeste de Jaleas Ujarrás</td>
                        <td>2208-2816</td>
                    </tr>
                    <tr>
                        <td>Pérez Zeledón, San José</td>
                        <td>Villa Ligia, 190 metros al oeste del templo católico Las Brisas</td>
                        <td>2208-2817</td>
                    </tr>
                    <tr>
                        <td>Zapote, San José</td>
                        <td>200 metros norte de la Rotonda de Las Garantías Sociales</td>
                        <td>2208-2818</td>
                    </tr>
                    <tr>
                        <td>Alajuelita, San José</td>
                        <td>Parque Logístico LatAm- La Verbena</td>
                        <td>2208-2819</td>
                    </tr>
                </tbody>
            </table>

            <ol start="2">
                <li class="mb-2">La devolución se puede realizar en cualquier tienda.</li>
                <li class="mb-2">Tiene 45 días naturales para solicitar la devolución del dinero.</li>
                <li class="mb-2">La mercadería debe estar debidamente etiquetada y en su empaque original.</li>
                <li class="mb-2">No se aceptarán devoluciones de ropa interior o trajes de baño de la parte de abajo
                    (calzones, bóxer, bikinis o vestidos de baño de una pieza), y persianas con empaque abierto.
                    Solamente serán aceptados si el cliente reclama la garantía, la cual aplica únicamente por defecto
                    de fábrica y está dentro de los 45 días naturales de haber recibido su compra. Los tops y brasier sí
                    serán aceptados para la devolución siempre y cuando tengan el empaque original y sus respectivas
                    etiquetas.</li>
                <li class="mb-2">Las devoluciones se van a realizar por medio de reintegro de dinero a la tarjeta con
                    que se ejecutó la compra, nunca en efectivo.</li>
            </ol>

            <p>Se aprobará el reintegro del dinero cuando se entregue el producto junto con la factura en una de
                nuestras tiendas. También, cuando se haya realizado un error en el cobro al cliente, siempre que hayan
                generado cobros duplicados.</p>

            <p>Los montos correspondientes a envíos o transportes, sólo serán asumidos por Pequeño Mundo o reintegrados
                a EL CLIENTE, cuando Pequeño Mundo haya incurrido en un error a la hora de realizar el despacho de los
                productos, o bien, cuando se compruebe que el daño del producto se debió a una irregularidad en la
                manipulación del producto durante el transporte. De no ser así, el cliente debe asumir los costos de
                envío asociados a cambios o devoluciones.</p>

            <p>Pequeño Mundo contará con 8 días hábiles para solicitar a la identidad bancaria el correspondiente
                reintegro de los valores. El tiempo de entrega y de aparición en el estado de cuenta de EL CLIENTE
                variará según el banco emisor de la tarjeta.</p>
        </div>

        <div id="atencion-al-cliente" class="mb-5">
            <h3 class="h4 mb-3">VII. Atención al cliente</h3>
            <p>Para cualquier duda, sugerencia, consulta o reclamación sobre la tienda online, puede comunicarse al
                centro de contacto de Pequeño Mundo, por cualquiera de los siguientes medios:</p>
            <ul class="list-unstyled">
                <li class="mb-2">Número telefónico del Centro de Contacto: 2228-0800 Opción 2</li>
                <li class="mb-2">Correo electrónico: <a href="mailto:pequenomundo@pequenomundo.com"
                        class="text-danger">pequenomundo&#64;pequenomundo.com</a></li>
                <li class="mb-2">WhatsApp 7005-7500</li>
            </ul>
            <h4 class="h5">Horario de atención</h4>
            <ul class="list-unstyled">
                <li class="mb-2">Lunes, jueves y viernes de 9:00 a.m. a 7:00 p.m.</li>
                <li class="mb-2">Martes y miércoles de 9:00 a.m. a 5:30 p.m.</li>
                <li class="mb-2">Sábados y domingos 10:00 a.m. a 6:00 p.m.</li>
            </ul>
            <p>El tiempo de respuesta máximo es de 48 horas según el horario de atención, dando prioridad a los
                reclamos.</p>
        </div>

        <div id="consentimiento-informado" class="mb-5">
            <h3 class="h4 mb-3">VIII. Consentimiento informado relacionado con la recolección, tratamiento y uso de los
                datos personales por parte de pequeño mundo y todas sus sociedades asociadas.</h3>
            <p>PEQUEÑO MUNDO, de conformidad con la Ley 8968 sobre la Protección de la Persona frente al tratamiento de
                sus datos personales, informa lo siguiente:</p>
            <ul>
                <li class="mb-2">PEQUEÑO MUNDO cuenta con una base de datos (dentro de la cual se registra información
                    personal de acceso restringido y de acceso irrestricto) con el fin de contar con datos veraces y
                    suficientes de sus clientes, para identificar a las personas que realicen transacciones de compra.
                </li>
                <li class="mb-2">Se entiende como tratamiento de los datos personales, según la ley No. 8968, cualquier
                    operación o conjunto de operaciones, efectuadas mediante procedimientos automatizados o manuales y
                    aplicadas a datos personales, tales como: la recolección, el registro, la organización,
                    conservación, modificación, extracción, consulta, utilización, la comunicación por transmisión,
                    difusión, la distribución o cualquier otra forma que facilite el acceso a estos, el cotejo o la
                    interconexión, así como su bloqueo, supresión o destrucción, entre otros.</li>
                <li class="mb-2">El uso de los datos personales es para la gestión de las transacciones de este sitio
                    web así como fines comerciales, incluyendo la posibilidad de enviar información publicitaria.</li>
                <li class="mb-2">La base de datos personales solo es consultada por los trabajadores de PEQUEÑO MUNDO,
                    debidamente contratados y autorizados, cumpliendo con los controles de seguridad que exigen las
                    leyes y normativas.</li>
                <li class="mb-2">El destino de la información personal es de uso únicamente interno, con la finalidad
                    indicada, así como de agilizar y promover la eficiencia de los servicios o productos que la Empresa
                    ofrece y así garantizar a los usuarios su uso pleno y adecuado.</li>
                <li class="mb-2">PEQUEÑO MUNDO es el garante de crear y custodiar la base de datos de sus clientes en
                    sus oficinas centrales. Dicha base de datos está resguardada y asegurada según lo establece la
                    normativa.</li>
                <li class="mb-2">Como cliente de PEQUEÑO MUNDO tiene el derecho al acceso de sus datos personales,
                    rectificación o supresión de estos de conformidad con la Ley 8968. Para esto puede enviar un correo
                    a <a href="mailto:pequenomundo@pequenomundo.com"
                        class="text-danger">pequenomundo&#64;pequenomundo.com</a> con el derecho que desea
                    ejercer,
                    su nombre completo y una copia de su cédula de identidad.</li>
            </ul>
            <p>PEQUEÑO MUNDO también podrá solicitar información personal en otras ocasiones como, por ejemplo, al Usted
                participar en algún concurso o promoción patrocinada por PEQUEÑO MUNDO o alguno de sus socios, cuando
                envía una información clasificada, al enviar un listado de un Sitio Web, al hacer compras a través de
                PEQUEÑO MUNDO, y cuando usted nos informa de algún problema con nuestros sitios o servicios. También
                podremos hacer encuestas de vez en cuando para evaluar internamente el tráfico y los servicios que
                ofrecemos.</p>
            <p>PEQUEÑO MUNDO podrá hacer uso de cookies para controlar y almacenar sus datos personales. Una cookie es
                un pequeño set de datos que nuestro servidor Web envía a su navegador. El cookie se almacena en el disco
                duro de su computadora. Los cookies se utilizan comúnmente para recordarnos quién es usted y poder
                accesar la información de su cuenta (almacenada en nuestros equipos) para así ofrecerle un servicio más
                personalizado, también usamos estos cookies para calcular el tamaño de nuestra audiencia, para analizar
                algunos parámetros de tráfico, conocer las áreas del Sitio Web Visitadas por Usted. Usted tiene la
                posibilidad de aceptar o no las cookies al cambiar las preferencias de su navegador. Usted puede
                reprogramar su navegador para que no acepte cookies o para que le indique cuando se le está enviando un
                cookie a su computadora. Si usted escoge no aceptar cookies, su experiencia al visitar nuestro sitio Web
                puede verse limitada en cuanto a las opciones y las soluciones y opciones que podrían no trabajar como
                se espera.</p>
            <p>Otorgo mi consentimiento a PEQUEÑO MUNDO para tratar mi información personal, de acuerdo con la política
                de tratamiento de uso datos personales, y por tanto me comprometo a leer regularmente el aviso de
                privacidad y la política mencionada disponible en: <a href="https://tienda.pequenomundo.com"
                    target="_blank" class="text-danger">tienda.pequenomundo.com</a></p>
            <p>- Legislación Aplicable. Las relaciones entre El Cliente y <a href="https://tienda.pequenomundo.com"
                    target="_blank" class="text-danger">tienda.pequenomundo.com</a> serán regidas por las leyes de la
                República
                de Costa Rica y los tratados internacionales aplicables. Toda disputa, controversia y/o reclamo causado
                o relacionado con estos términos y condiciones serán resueltos por las instancias correspondientes de
                conformidad con la legislación costarricense.</p>
        </div>

        <div class="mb-5">
            <nav class="nav flex-column">
                <a (click)="scrollTo('politicas-generales')" class="mb-2 d-flex align-items-center">
                    <i class="fas fa-play me-2"></i> Políticas generales
                </a>
                <a (click)="scrollTo('politicas-de-seguridad')" class="mb-2 d-flex align-items-center">
                    <i class="fas fa-play me-2"></i> Políticas de seguridad
                </a>
                <a (click)="scrollTo('politicas-de-pago')" class="mb-2 d-flex align-items-center">
                    <i class="fas fa-play me-2"></i> Políticas de pago
                </a>
                <a (click)="scrollTo('politicas-de-entrega')" class="mb-2 d-flex align-items-center">
                    <i class="fas fa-play me-2"></i> Políticas de entrega
                </a>
                <a (click)="scrollTo('politicas-de-garantia')" class="mb-2 d-flex align-items-center">
                    <i class="fas fa-play me-2"></i> Políticas de garantía
                </a>
                <a (click)="scrollTo('politicas-de-devolucion')" class="mb-2 d-flex align-items-center">
                    <i class="fas fa-play me-2"></i> Políticas de devolución
                </a>
                <a (click)="scrollTo('atencion-al-cliente')" class="mb-2 d-flex align-items-center">
                    <i class="fas fa-play me-2"></i> Atención al cliente
                </a>
                <a (click)="scrollTo('consentimiento-informado')" class="mb-2 d-flex align-items-center">
                    <i class="fas fa-play me-2"></i> Consentimiento informado
                </a>
            </nav>
        </div>
        

    </div>
</div>