<div class="home">
    <app-slider></app-slider>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nemo similique, vitae tenetur inventore provident
        sit repudiandae maxime enim sed nulla itaque fuga, deserunt debitis totam veritatis velit? Ullam, eaque dolor.
        Quasi assumenda a, quisquam earum necessitatibus porro, facere repudiandae distinctio aliquam error consectetur
        quod voluptatem? Dolorum ipsam similique et accusamus facere deleniti ullam voluptate itaque id ipsa unde est
        distinctio quibusdam debitis, praesentium illum aut repudiandae aperiam consectetur asperiores delectus odio
        totam. Quibusdam commodi aliquid a necessitatibus iusto, debitis quia atque quos accusantium repudiandae nam
        nulla dolorem aut ipsam nihil soluta sunt voluptatibus vero et. Nihil cupiditate saepe tempora.</p>
    <!-- Add other components -->
</div>