.link-item {
    color: var(--primary-color);
}

.link-item:hover {
    text-decoration: underline;
}

.text-hover {
    display: inline-block;
    transition: transform 0.3s ease;
}

.text-hover:hover {
    transform: scale(1.3);
}