<div class="container-md">
    <app-banner-slider></app-banner-slider>
    <div class="text-center my-5">
        <a title="Tutorial compras en línea" href="https://youtu.be/P8z6cC3tghE?si=soAtCxQTRvSy6zia" target="_blank"
            rel="noopener">Haz click aquí y aprende a realizar compras en línea en Pequeño Mundo</a>
    </div>
    <app-new-product-slider></app-new-product-slider>
    <app-category-slider></app-category-slider>
    <app-bottom-info></app-bottom-info>
</div>

<!-- Job Offers -->
<div class="bg-danger text-white p-4 text-center">
    <h4 class="m-0 text-hover">Ofertas de empleo</h4>
</div>