<app-banner-slider></app-banner-slider>

<div class="container-md">
    <div class="text-center my-5">
        <a title="Tutorial compras en línea" href="https://youtu.be/P8z6cC3tghE?si=soAtCxQTRvSy6zia" target="_blank"
            rel="noopener">Haz click aquí y aprende a realizar compras en línea en Pequeño Mundo</a>
    </div>
    <app-new-product-slider></app-new-product-slider>
    <!-- Static Banner -->
    <div class="row my-5 mx-2">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="assets/images/Banner-Jr-Estantes.png" alt="Banner Jr Estantes" class="img-fluid">
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="assets/images/Banner-Jr-Carro.png" alt="Banner Jr Carro" class="img-fluid">
        </div>
    </div>
    <app-category-slider></app-category-slider>
</div>

<app-bottom-info></app-bottom-info>

<!-- Job Offers -->
<div class="bg-danger text-white p-4 text-center">
    <h4 class="m-0 text-hover">Ofertas de empleo</h4>
</div>