/* You can add global styles to this file, and also import other style files */

a {
    color: inherit;
    text-decoration: none;
}

/* Customize Bootstrap Styles */
.form-control, .form-check-input {
    border: 1px solid #6b7a83;
}

form {
    font-size: 0.9rem;
}

form h5 {
    font-size: 1rem;
}