<div class="container">
    <h2 class="mb-4">Establecer nueva contraseña</h2>
    <div class="border-top border-danger border-3"></div>
    
    <div class="row px-5 py-3">
      <div class="col-12">
        <!-- <form (ngSubmit)="onSubmit()" [formGroup]="newPasswordForm" class="bg-light p-4 rounded"> -->
        <form class="bg-light p-4 rounded">
          <div class="mb-3">
            <label for="newPassword" class="form-label">Nueva contraseña *</label>
            <input type="password" class="form-control" id="newPassword" formControlName="newPassword" required>
            <small class="form-text text-muted">Fuerza de la contraseña: Sin contraseña</small>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirmar contraseña nueva *</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" required>
          </div>
          <button type="submit" class="btn btn-danger">Establecer nueva contraseña</button>
        </form>
      </div>
    </div>
</div>