footer {
    font-size: 0.9rem;
}

.social-icons i {
    color: #fff;
}

.social-icons a {
    text-decoration: none;
}

.input-group .form-control {
    border-radius: 0;
}

.input-group .btn {
    border-radius: 0;
}

.payment-logo {
    width: 200px;
    height: auto;
    vertical-align: middle;
}
