<footer class="bg-dark text-light pt-4">
    <div class="container">
      <div class="row">
        <!-- Contact Information -->
        <div class="col-md-4">
          <h5 class="text-uppercase">Información de Contacto</h5>
          <p>TELÉFONO<br> +506 2208-2800 opción 2</p>
          <p>WHATSAPP<br> +506 7005-7500</p>
          <p [innerHTML]="'CORREO ELECTRÓNICO<br> pequenomundo@pequenomundo.com'"> </p>
          <div class="social-icons mt-2">
            <a href="#" class="me-2">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
          </div>
        </div>
  
        <!-- Newsletter -->
        <div class="col-md-4">
          <h5 class="text-uppercase">Sé el Primero en Saberlo</h5>
          <p>Obtén toda la información sobre las últimas novedades.<br>Regístrate para recibir el boletín.</p>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Correo Electrónico">
            <button class="btn btn-danger" type="button">Suscribirse</button>
          </div>
        </div>
  
        <!-- My Account -->
        <div class="col-md-4">
          <h5 class="text-uppercase">Mi Cuenta</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Sobre nosotros</a></li>
            <li><a href="#" class="text-light">Contáctanos</a></li>
            <li><a href="#" class="text-light">Preguntas frecuentes</a></li>
            <li><a href="#" class="text-light">Mi Pequeño Mundo</a></li>
            <li><a href="#" class="text-light">Empleo</a></li>
            <li><a href="#" class="text-light">Historial de pedidos</a></li>
            <li><a href="#" class="text-light">Búsqueda avanzada</a></li>
            <li><a href="#" class="text-light">Iniciar Sesión</a></li>
          </ul>
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col-md-6">
          <p class="mb-0">Todos los derechos reservados © PEQUEÑO MUNDO 2024.</p>
        </div>
        <div class="col-md-6 text-end">
          <a href="#" class="text-light">Términos y condiciones</a>
          <img src="assets/images/pm-payment-logos.png" alt="BAC" class="ms-2 payment-logo">
        </div>
      </div>
      
    </div>
</footer>
  