<app-user-layout title="Crear nueva cuenta de cliente">
  <form class="mx-3">
    <div class="row">
        <div class="col-12 col-md-6 mb-4">
            <h5 class="text-danger pb-3">INFORMACIÓN PERSONAL</h5>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre *</label>
                <input type="text" class="form-control" id="nombre" required>
            </div>
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido *</label>
                <input type="text" class="form-control" id="apellido" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="suscribirse">
                <label class="form-check-label" for="suscribirse">Suscribirse al boletín de noticias</label>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4">
            <h5 class="text-danger pb-3">INFORMACIÓN DE INICIO DE SESIÓN</h5>
            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico *</label>
                <input type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña *</label>
                <input type="password" class="form-control" id="password" required>
                <small class="form-text text-muted">Fuerza de la contraseña: Sin contraseña</small>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmar contraseña *</label>
                <input type="password" class="form-control" id="confirmPassword" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="recordarme">
                <label class="form-check-label" for="recordarme">Recordarme</label>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="aceptarPolitica" required>
                <label class="form-check-label" for="aceptarPolitica">Aceptación de política de datos.</label>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-danger">Crear una Cuenta</button>
    </div>
  </form>
</app-user-layout>