<div class="container-fluid container-md">
    <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>

    <div class="row">
      
      <!-- Product Images -->
      <div class="col-md-5 mb-4">
        <app-product-images [product]="product"></app-product-images>
      </div>
      <div class="col-md-7">

        <!-- Product Info -->
        <app-product-info [product]="product"></app-product-info>

        <!-- Quantity selector, Add to cart and Add to wishlist buttons -->
        <div class="d-flex flex-column flex-sm-row align-items-start mt-3">
          <app-quantity-selector 
            [quantity]="quantity" 
            (quantityChange)="onQuantityChange($event)"
          ></app-quantity-selector>
          <div class="d-flex flex-row mt-2 mt-sm-0 ms-sm-3">
            <button class="btn btn-danger me-2" (click)="addToCart()">Agregar al Carrito</button>
            <button class="btn btn-danger">
              <i class="fa fa-heart"></i>
            </button>
          </div>
        </div>        
      </div>
    </div>

    <!-- Product Details and Ratings -->
    <div class="mt-5">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'details'" (click)="activeTab = 'details'">Detalles de producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'ratings'" (click)="activeTab = 'ratings'">Calificaciones</a>
        </li>
      </ul>

      <div class="tab-content mt-3 px-3">
        <div *ngIf="activeTab === 'details'">
          <app-product-details-tab [product]="product"></app-product-details-tab>
        </div>
        <div *ngIf="activeTab === 'ratings'">
          <app-product-ratings-tab [product]="product"></app-product-ratings-tab>
        </div>
      </div>
    </div>
</div>