.nav-tabs .nav-link.active {
  color: #dc3545;
  border-bottom: 2px solid #dc3545;
}

.nav-tabs .nav-link {
  color: #495057;
}

.fa-star {
  color: #ffc107;
}

.rating {
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
}

.star.filled {
  color: #ffd700;
}